Source: imagecat
Section: python
Priority: optional
Maintainer: Nick Douma, <n.douma@nekoconeko.nl>
Build-Depends: debhelper (>= 7), python (>= 2.7), python (<< 3), ant, dh-exec, git
Standards-Version: 3.9.2
X-Python-Version: >= 2.7

Package: imagecat
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-gi, 
 python-gobject, python-configobj, x11-xserver-utils
Description: Automatic wallpaper changer with multi-monitor support.
 This tool can automatically detect your monitor layout, and create wallpapers accordingly.
 Wallpapers are randomly selected from a supplied folder of images. Every screen will get
 its own image, as will each desktop. A setup with two monitors and four desktops will 
 therefor require at least eight images.
