[Desktop Entry]
Encoding=UTF-8
Name=imagecat
Icon=imagecat
Comment=Change wallpapers automatically
Exec=/usr/bin/imagecat --quiet --automatic
Terminal=false
Type=Application
Categories=
NotShowIn=KDE;
NoDisplay=true
